<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.rkplap.dschack">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InfoActivity"></activity>
        <activity android:name=".PlacesActivity" />
        <activity android:name=".ProfileItem.Travel" />
        <activity android:name=".ProfileItem.Tc" />
        <activity android:name=".ProfileItem.PravSetting" />
        <activity android:name=".ProfileItem.AccountInformation" />
        <activity android:name=".ProfileItem.Help" />
        <activity android:name=".ProfileItem.Feedback" />
        <activity android:name=".ProfileItem.Cyborgs" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".otpActivity" />
        <activity android:name=".InboxActivity" />
        <activity android:name=".SaveActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".Login" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>